@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Source+Sans+Pro:wght@200&display=swap');

:root {
  --playfair: 'Playfair Display', serif;
  --source: 'Source Sans Pro', sans-serif;
}

* {margin: 0; padding: 0; box-sizing: border-box;}

body {
  padding: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-family: var(--playfair);
}